@import "~scss/vars";

.distance-elem {

  &__title{
    font-size: 16px;
    margin-top: 5px;
    font-weight: bold;
  }

  &__body {
    margin-top: 5px;
    color: rgba(#000000, .7);
    font-size: 14px;

    .crumb{
      border-radius: 10px;
      padding: 5px 8px;
    }
  }
}
